OPENAI_API_KEY=your_openai_api_key
OPENAI_TRANSCRIPTION_MODEL=whisper-1
OPENAI_TRANSCRIPTION_MODE=translate
OPENAI_TRANSCRIPTION_LANGUAGE=
OPENAI_EXTRACTION_MODEL=gpt-4.1-mini
TRANSCRIPTION_WORKER_CONCURRENCY=2
BACKGROUND_JOB_RETENTION_HOURS=24

AZURE_COSMOS_ENDPOINT=https://connect-nps-signup-uat.documents.azure.com:443/
AZURE_COSMOS_DATABASE_ID=connect-nps-db
AZURE_COSMOS_CONTAINER_ID=users
AZURE_COSMOS_ORGANIZATION_ID=tvs
AZURE_COSMOS_KEY=your_cosmos_db_key_keep_secret
